body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* Estilização do botão para abrir o modal */
#btnAbrirModal {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor verde */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#btnAbrirModal:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

/* Estilização do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Tamanho médio do modal */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
}

/* Estilização do formulário dentro do modal */
form input, form select, form button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: calc(100% - 22px); /* Ajuste para a largura total com o padding */
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
/* Estilização da tabela */
table {
    width: 80%; /* Largura da tabela */
    margin: 20px auto; /* Margem na parte superior e inferior, e centralizada */
    border-collapse: collapse; /* Remove o espaçamento entre as bordas das células */
}

th, td {
    border: 1px solid #ddd; /* Borda para cabeçalho e células da tabela */
    padding: 8px; /* Espaçamento interno para cabeçalho e células */
    text-align: left; /* Alinhamento do texto */
}

th {
    background-color: #f0f0f0; /* Cor de fundo para o cabeçalho da tabela */
}

/* Estilização para dar mais destaque às linhas da tabela ao passar o mouse */
tr:hover { 
    background-color: #f5f5f5;
}
/* Estilização do menu de navegação */
.menu-bar {
    background-color: #333;
    overflow: hidden;
    width: 100%; /* Adicione esta linha */
}


.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    float: left;
}

.menu-list li a, .logout-button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.menu-list li a:hover, .logout-button:hover {
    background-color: #555;
}

.logout-button {
    border: none;
    background: none;
}

/* Responsividade para dispositivos móveis, caso necessário */
@media screen and (max-width: 600px) {
    .menu-list li {
        float: none;
    }
}
.botao-gerar-pdf {
    background-color: #007BFF; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remover borda */
    padding: 10px 20px; /* Espaçamento interno (ajuste conforme necessário) */
    border-radius: 5px; /* Cantos arredondados (ajuste conforme necessário) */
    cursor: pointer; /* Alterar cursor ao passar o mouse */
}

.botao-gerar-pdf:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse (ajuste conforme desejado) */
}
.dark-mode {
    background-color: #333; /* Exemplo de cor de fundo para o modo escuro */
    color: #fff; /* Exemplo de cor de texto para o modo escuro */
    /* Adicione estilos específicos para outros elementos conforme necessário */
}
.dark-mode .menu-bar {
    background-color: #222; /* Exemplo */
}
.dark-mode-toggle:hover {
    background-color: #333;
}